---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
  font-family: 'Lato', sans-serif;
}

body {
  font-family: 'Lato', sans-serif;
}

.page-header {
  color: #fff !important;
  text-align: center;
  background-color: #89B53A !important;
  background-image: none !important;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    color: #005f2d !important;
}
